body {
  background: #f7f0ff;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #6a4dad;
  color: white;
  padding: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #2f1d53;
  color: white;
  padding: 2rem 1rem;
  margin-top: 4rem;
  text-align: center;
}

footer a {
  color: #6a4dad;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

.btn-animado {
  transition: all 0.3s ease-in-out;
}

.btn-animado:hover {
  background-color: #a084dc;
  color: white;
  transform: scale(1.05);
}

.container {
  max-width: 960px;
  margin: auto;
}

a {
  color: #6a4dad;
  text-decoration: none;
}

a:hover {
  color: #5c3d9c;
}

.card {
  border: none;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.custom-header {
  background-color: #6a4dad; /* morado oscuro */
}

.custom-header .btn:hover {
  background-color: #6a4dad !important;
  color: white !important;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.encabezado-tabla {
  background-color: #6a4dad; /* igual que header */
  color: #f7f5fa;
}

.btn-eliminar {
  background-color: #6f1785;  /* rojo violáceo */
  color: white;
  border: none;
}

.btn-eliminar:hover {
  background-color: #e24e4e;
  transform: scale(1.05);
}

.btn-editar {
  background-color: #af93eb;
  color: white;
  border: none;
}

.btn-editar:hover {
  background-color: #bed653;
  transform: scale(1.05);
}

